.button {
  padding: 0 24px;
  height: 60px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: $green;
  color: $white;

  &.sm {
    height: 41px;
    font-size: 15px;
  }

  .icon {
    width: 16px;
    height: 16px;
    background: url(../../images/arrow-up.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $default;
  }

  &.green-outlined {
    background-color: $white;
    border: 1px solid $green;
    color: $green;

    .icon {
      background: url(../../images/arrow-up-green.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $green;
      color: $white;

      .icon {
        background: url(../../images/arrow-up.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &.grey-outlined {
    background-color: $white;
    border: 1px solid $default_light;
    color: $default_light;

    .icon {
      background: url(../../images/arrow-up-grey.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $default_light;
      color: $white;

      .icon {
        background: url(../../images/arrow-up.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.add-to-cart {
  height: 44px;
  padding-left: 19px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  background-image: url(../../images/cart-green.png);
  background-repeat: no-repeat !important;
  background-position: 103px 13px !important;
  padding-right: 46px;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $green;
    background-image: url(../../images/cart-bag.png);
    background-size: 16px;
  }
}
