.cart-list {
  gap: 46px;

  h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .cart-table {
    flex: 1;
  }

  .order-summary {
    width: 250px;

    .summary-box {
      background: $light_grey;
      padding: 20px;
      border-radius: 15px;
    }
  }
}

.feed-wrapper {
  display: flex;
  gap: 38px;
  align-items: flex-start;

  .filter-section {
    width: 290px;
    background-color: $yellow;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px 0;
    .accordions {
      ul {
        li {
          padding: 0 30px;
          border-color: #fee655;

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }

          button.accordion-btn {
            font-size: 20px;
            padding: 15px 0;
          }

          .accordion-content {
            margin-top: 0;
          }
        }
      }
    }
  }

  .feed-product-list {
    flex: 1;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    .item {
      width: calc(33.33% - 17px);
      margin-bottom: 30px;
    }
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  .gallery-item {
    height: 286px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: calc(33.33% - 17px);
    margin-bottom: 30px;

    img {
      width: 100%;
      min-height: 100%;
    }

    .content {
      position: absolute;
      left: 35px;
      bottom: 20px;
      z-index: 10;

      .tag {
        background-color: $yellow;
        color: $white;
        padding: 3px 18px;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 8px;
        border-radius: 15px;
      }

      h5 {
        color: $white;
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 10px;
      }

      p {
        color: $sea_green;
        font-size: 13px;
      }
    }
  }
}

// counter
.counter-control {
  width: 85px;
  height: 45px;
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 5px;

  button {
    width: 14px;
    height: 14px;
    border: none;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  input {
    width: 25px;
    height: 14px;
    font-size: 15px;
    color: $default_light;
    line-height: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
  }
}

.cart-card {
  border-radius: 15px;
  background-color: $light_grey;
  padding: 20px 20px 18px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;

  .product-img {
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    border-radius: 15px;

    img {
      height: 64px;
    }
  }

  .product-name-and-qty {
    flex: 1;
    padding: 0 24px;

    h4 {
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 18px;
    }
  }

  .price {
    width: 127px;

    h6 {
      font-size: 15px;
      font-weight: 500;
      color: $default_light;
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .sub-total {
    width: 110px;
    text-align: right;

    h6 {
      font-size: 15px;
      font-weight: 500;
      color: $default_light;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      color: $green;
    }

    button {
      font-size: 13px;
      background: none;
      outline: none;
      border: none;
      margin-top: 0;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 31px;
      color: $default_light;
    }
  }
}
