.form-wrapper {
  display: flex;
  gap: 55px;
  padding: 45px 0;

  .media {
    width: 375px;
    height: 465px;
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
    }
  }

  .form {
    flex: 1;

    > .flex {
      gap: 36px;

      .form-group {
        margin-bottom: 26px;
      }
    }
  }
}

.form-control {
  width: 100%;
  height: 60px;
  background-color: $light_grey;
  border: 1px solid #d8dddb;
  padding: 0 24px;
  font-size: 15px;
  color: $default_light;
  border-radius: 8px;

  &::placeholder {
    color: $default_light;
  }
}

textarea.form-control {
  height: 122px;
  padding-top: 16px;
  resize: none;
}

.member-area {
  max-width: 566px;
  margin: 0 auto;

  .member-form-wrapper {
    h6 {
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 33px;
    }

    .form-control {
      margin-bottom: 38px;
    }
  }
  .or {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: $default_light;
    margin: 60px auto;
    background-color: $light_grey;
    border-radius: 100%;
  }
}
