@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-ExtraLight.otf");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 19px;
  line-height: 1.5;
  font-family: "exo", sans-serif;
  font-weight: 400;
  padding-top: 150px;
  color: $default;
}

.container {
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &.sm {
    max-width: 1186px;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

a {
  display: inline-block;
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

span {
  display: inline-block;
}

ul {
  li {
    list-style: none;

    > a {
      display: block;
    }
  }
}

.has-yellow-bg {
  background: url(../../images/yellow-pixes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.has-yellow-with-bg {
  background: url(../../images/yellow-with-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.has-sea-green-bg {
  background: url(../../images/bg-sea-green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.has-light-grey-bg {
  background: $light_grey;
}
.has-grey-bg {
  background: $grey;
}

section {
  &.spacing {
    padding: 88px 0;
  }
}

.section-heading {
  span {
    width: 89px;
    background-color: #5e7875;
    position: relative;

    &:before {
      content: "";
      height: 6px;
      display: block;
      width: 50%;
      background-color: $sea_green;
    }

    &.yellow:before {
      background-color: $yellow;
    }
  }

  h2 {
    font-size: 50px;
    font-weight: 500;
    margin: -6px 0 22px;
  }

  &.white {
    h2 {
      color: $white;
    }
  }
}

.text-white {
  color: $white;
}

.flex {
  display: flex;
}
.gap-25 {
  gap: 25px;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.category-blocks {
  display: flex;
  gap: 25px;
  margin-bottom: 49px;

  .cetegory-card {
    flex: 1;

    .card-img {
      height: 268px;
      border-radius: 20px;
      overflow: hidden;

      img {
        min-height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 27px;
      font-weight: 600;
      margin-top: 24px;
    }
  }
}

.features-block {
  .media {
    width: 532px;

    .flex {
      gap: 29px;
    }

    .img1,
    .img2,
    .img3 {
      border-radius: 20px;
      overflow: hidden;

      img {
        min-height: 100%;
        width: 100%;
      }
    }

    .img1 {
      width: 440px;
      height: 295px;
      margin-bottom: 28px;
    }

    .img2 {
      width: 222px;
      height: 307px;
    }

    .img3 {
      width: 282px;
      height: 276px;
    }
  }
  .text {
    width: 525px;

    p {
      color: $default_light;
      margin-bottom: 54px;
    }

    a {
      display: flex;
      gap: 14px;
      align-items: center;
    }
  }
}

.offer-cards {
  gap: 25px;

  .img-holder {
    border-radius: 26px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      min-height: 100%;
    }
  }
}

.product-card {
  .product-img {
    height: 287px;
    border-radius: 25px;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9px solid $grey;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 19px 0 6px;
    text-align: center;
  }

  p {
    color: $default_light;
    font-size: 13px;
    text-align: center;
    margin-bottom: 18px;
  }

  &:hover .product-img {
    border-color: $white;
  }

  .actions {
    gap: 16px;

    .learn-more {
      font-size: 15px;
      color: $sea_green;
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        text-decoration: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }
}

.breadcrumbs {
  font-size: 14px;
  display: flex;
  gap: 7px;
  align-items: center;

  a{
    color: $default_light;
    font-weight: 300;
  }
  
  span{
    color: $green;
  }
}

.history-wrapper {
  height: 580px;
  display: flex;
  align-items: center;
  padding: 0 28px;
  border-radius: 25px;
  color: $white;

  .history-line {
    max-width: 900px;
    width: 100%;
    border: none;
    border-bottom: 3px solid $white;
    border-bottom-style: dashed;
    height: 1px;
    position: relative;

    .history-block {
      width: 250px;
      position: absolute;
      top: 0;

      .dot {
        width: 36px;
        height: 36px;
        background-color: $white;
        border: 1px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
        margin-top: -17px;

        &:after,
        &:before {
          content: "";
          display: block;
        }

        &:before {
          width: 22px;
          height: 22px;
          background-color: #ec008d;
          border-radius: 100%;
        }

        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 7.5px 0 7.5px;
          border-color: #ec008d transparent transparent transparent;
          position: absolute;
          left: 10px;
          bottom: calc(100% + 3px);
          transform: rotate(-180deg);
        }
      }

      h4 {
        margin-left: -12px;
      }

      p {
        margin-left: -12px;
        font-size: 15px;
        line-height: 22px;
      }

      &.history-1 {
        left: 0;
      }

      &.history-2 {
        left: 214px;

        .dot {
          &:before {
            background-color: #5f7875;
          }

          &:after {
            border-color: #5f7875 transparent transparent transparent;
          }
        }
      }

      &.history-3 {
        left: 436px;

        .dot {
          &:before {
            background-color: #00538d;
          }

          &:after {
            border-color: #00538d transparent transparent transparent;
          }
        }
      }

      &.history-4 {
        left: 659px;

        .dot {
          &:before {
            background-color: #07794e;
          }

          &:after {
            border-color: #07794e transparent transparent transparent;
          }
        }
      }

      &.history-5 {
        left: 870px;

        .dot {
          &:before {
            background-color: #d8ca7c;
          }

          &:after {
            border-color: #d8ca7c transparent transparent transparent;
          }
        }
      }

      &:nth-child(odd) {
        h4 {
          position: absolute;
          bottom: 50px;
        }
        p {
          position: absolute;
          bottom: 82px;
        }
      }

      &:nth-child(even) {
        .dot:after {
          transform: rotate(0);
          bottom: -18px;
        }
        h4 {
          margin-top: 13px;
        }
        p {
        }
      }
    }
  }
}

.team-person{
  display: flex;
  gap: 70px;
  margin-bottom: 95px;

  .profile-image{
    width: 502px;
    height: 510px;
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
    }
  }

  .profile-detail{
    flex: 1;
    h3{
      font-size: 36px;
      margin-bottom: 12px;
    }
    .designation{
      margin-bottom: 30px;
      font-size: 22px;
      color: $default_light;
    }
    > p{
      font-size: 20px;
      color: $default_light;
      margin-top: 20px;
    }
    .icon{
      display: flex;
      gap: 12px;
      align-items: center;
      margin-bottom: 16px;

      span{
        height: 40px;
        width: 40px;
        background: $black;
        border-radius: 50%;
      }
      p{
        font-size: 18px;
        color: $default_light;
      }
      
    }
  }
}

.card{
  border-radius: 25px;
  padding: 37px 30px;

  .image-holder{
    width: 160px;
    height: 157px;
    background: red;
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
    }
  }
  
  .card-detail{
    flex: 1;
    h3{
      font-size: 36px;
      margin: 26px 0 5px 0;
    }
    .designation{
      margin-bottom: 20px;
      font-size: 22px;
      color: $default_light;
    }
    > p{
      font-size: 20px;
      color: $default_light;  
      margin-top: 20px;
    }
    .icon{
      display: flex;
      gap: 12px;
      align-items: center;
      margin-bottom: 16px;

      span{
        height: 40px;
        width: 40px;
        background: $black;
        border-radius: 50%;
      }
      p{
        font-size: 18px;
        color: $default_light;
      }
      
    }
  }
}

.team-cards {
  flex-wrap: wrap ;
  margin-bottom: 55px;

  .card {
    // flex: 1 0 calc(33.33% - 25px);
    width: calc(33.33% - 25px);
  }
}

.beliefs-wrapper {
  gap: 70px;

  .accordions {
    flex: 1;
  }

  .media {
    width: 502px;
    height: 466px;
    border-radius: 25px;
    overflow: hidden;
    background-color: $grey;

    img {
      width: 100%;
      min-height: 100%;
    }
  }
}

.accordions {
  ul {
    li {
      border-bottom: 1px solid $grey;

      &:first-child {
        border-top: 1px solid $grey;
      }

      button {
        &.accordion-btn {
          font-size: 23px;
          font-weight: 600;
          color: #2e4246;
          background: url(../../images/angle-down.png);
          background-repeat: no-repeat;
          background-position: center right;
          display: block;
          width: 100%;
          text-align: left;
          padding: 36px 0;
          cursor: pointer;
          border: none
        }
      }

      .accordion-content {
        color: #5e7775;
        font-size: 17px;
        font-weight: 300;
        margin: -23px 0 42px 0 ;
        display: none;
      }
    }
  }
}

.career-ad {
  padding: 67px 77px;
  color: $white;
  border-radius: 25px;
  margin-top: 125px;

  p {
    font-size: 17px;
    margin-bottom: 28px;
  }
}

.feature-text{
  h2{
    font-size: 48px;
  }
  p{
    font-size: 20px;
    margin-bottom: 26px;
    color: $default_light;
  }
  ul{
    li{
      font-size: 18px;
      color: $default_light;
      margin-bottom: 23px;
    }
  }
}

.price-sec{
  gap: 12px;
  margin-bottom: 38px;

  h4{
    color: $green;
    font-size: 27px;
  }
  h5{
    font-size: 13px;
    color: $default_light;
  }
}

.accordians-media{
  gap: 15px;
  div{
    width: 88px;
    height: 77px;
    background: #efeeea;
    border-radius: 15px;
    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
    }
  }
}