@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "exo";
  src: url("../../fonts/EXO/ExoSoft-ExtraLight.otf");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 19px;
  line-height: 1.5;
  font-family: "exo", sans-serif;
  font-weight: 400;
  padding-top: 150px;
  color: $default;
}

.container {
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &.sm {
    max-width: 1186px;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

a {
  display: inline-block;
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

span {
  display: inline-block;
}

ul {
  li {
    list-style: none;

    > a {
      display: block;
    }
  }
}

.has-yellow-bg {
  background: url(../../images/yellow-pixes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.has-sea-green-bg {
  background: url(../../images/bg-sea-green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.has-light-grey-bg {
  background: $light_grey;
}

section {
  &.spacing {
    padding: 88px 0;
  }
}

.section-heading {
  span {
    width: 89px;
    background-color: #5e7875;
    position: relative;

    &:before {
      content: "";
      height: 6px;
      display: block;
      width: 50%;
      background-color: $sea_green;
    }

    &.yellow:before {
      background-color: $yellow;
    }
  }

  h2 {
    font-size: 50px;
    font-weight: 500;
    margin: -6px 0 22px;
  }

  &.white {
    h2 {
      color: $white;
    }
  }
}

.text-white {
  color: $white;
}

.flex {
  display: flex;
}
.gap-25 {
  gap: 25px;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.category-blocks {
  display: flex;
  gap: 25px;
  margin-bottom: 49px;

  .cetegory-card {
    flex: 1;

    .card-img {
      height: 268px;
      border-radius: 20px;
      overflow: hidden;

      img {
        min-height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 27px;
      font-weight: 600;
      margin-top: 24px;
    }
  }
}

.features-block {
  .media {
    width: 532px;

    .flex {
      gap: 29px;
    }

    .img1,
    .img2,
    .img3 {
      border-radius: 20px;
      overflow: hidden;

      img {
        min-height: 100%;
        width: 100%;
      }
    }

    .img1 {
      width: 440px;
      height: 295px;
      margin-bottom: 28px;
    }

    .img2 {
      width: 222px;
      height: 307px;
    }

    .img3 {
      width: 282px;
      height: 276px;
    }
  }
  .text {
    width: 525px;

    p {
      color: $default_light;
      margin-bottom: 54px;
    }

    a {
      display: flex;
      gap: 14px;
      align-items: center;
    }
  }
}

.offer-cards {
  gap: 25px;

  .img-holder {
    border-radius: 26px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      min-height: 100%;
    }
  }
}

.product-card {
  .product-img {
    height: 287px;
    border-radius: 25px;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9px solid $grey;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 19px 0 6px;
    text-align: center;
  }

  p {
    color: $default_light;
    font-size: 13px;
    text-align: center;
    margin-bottom: 18px;
  }

  &:hover .product-img {
    border-color: $white;
  }

  .actions {
    gap: 16px;

    .learn-more {
      font-size: 15px;
      color: $sea_green;
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        text-decoration: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }
}
