$white: #fff;
$black: #000000;
$default: #2e4147;
$default_light: #5e7775;
$sea_green: #00bbb4;
$sky_blue: #a5e1df;
$green: #9dc41a;
$light_green: #cce7ba;
$pink: #e5dcd3;
$yellow: #e6cf00;
$yellow_2: #fdd900;
$grey: #efeeea;
$grey_2: #f6f6f4;
$light_grey: #f7f7f5;
$ligh_grey_2: #f4f3ef;
$light_grey_3: #fefefe;
